.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentBox {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
}

.sectionTitle {
  text-align: center;
}

.aboutTextBox {
  max-width: 60vw;
}

.aboutText {
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .aboutText {
    text-align: center;
  }
} ;
