
.main {
  background-color: aqua;
}

.backgroundImg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.headerBox {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15rem;
  gap: 1rem;
  z-index: 2;
}

.meImg {
  transition: 2s;
}

#learn-more{
  transition: opacity 3s
}

.hidden {
  opacity: 0;
  z-index: -1
}

.visible {
  z-index: 2;
  transition: opacity 1s, background-color .3s, box-shadow .3s;
  opacity: 100;
  width: 100%;
  padding: .5rem;
  border-radius: 20px;
  background-color: #3D4750;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.visible:hover {
  background-color: #2f373f;
  box-shadow: 0px 12px 12px rgba(0,0,0,0.5);
}